<!DOCTYPE html>
<html lang="es">
  <head>
    <title>KlasseDeutch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= yield :javascript_includes %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <main id="main">
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
